@import 'remixicon/fonts/remixicon.css';
@import "settings/_typography.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  box-sizing: border-box;
}

html {
  word-break: break-word;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  color: #333333 !important;
  font-weight: 400;
  background-color: #f8f8f8 !important;
}
